@model SolicitacaoServicoViewModel

@{
    ViewData["Title"] = "Servico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="float:right"> @Model.Email | <a asp-controller="Autenticacao" asp-action="Login">sair</a> </span>

<h2 class="text-center">Você está negociando serviço com os seguintes clientes:</h2>
<br />
<br />
<br />
<br />

<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h3 class="card-title">@Model.Servico.Cliente.Nome</h3>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Servico.Categoria.Nome</h6>
        <h6 class="card-subtitle mb-2 text-muted">Av. Pasteur, 458 - Botafogo, Rio de Janeiro - RJ</h6>
        <h6 class="card-subtitle mb-2 text-muted">Nota usuário: 8</h6>
        <p class="card-text">@Model.Servico.Descricao</p>
        <a class="btn btn-info btn-block" asp-action="Chat">Enviar mensagem </a>
        <br />
        <div id="buttons">

            <button class="btn btn-danger btn-block" onclick="Cancelar()"> Cancelar </button>
        </div>
        <br />
        <div>
            <a class="btn btn-primary btn-block" asp-action="Avaliar">Finalizar e avaliar</a>
        </div>

        <div id="txt" class="hide" style="display:none">
            <h5 class="text-danger text-center">Cancelado</h5>
        </div>

    </div>
</div>

