@model OpenServices.Entities.Usuario

@{
    ViewData["Title"] = "Servico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span style="float:right"> @Model.Email | <a asp-controller="Autenticacao" asp-action="Login">sair</a> </span>
<br />
<br />
<h2 class="text-center">Bem vindo! </h2>
<h4 class="text-center">Nenhum serviço para você no momento.</h4>
<br />
<br />
<br />
<br />

<nav class="nav flex-column">
    <a class="nav-link active" asp-action="SolicitacaoServico" asp-route-email="@Model.Email">Servicos</a>
    <a class="nav-link" href="#">Sobre</a>
    <a class="nav-link" href="#">Meu cadastro</a>
</nav>