@model TipoPerfilViewModel;

<div id="selecionar-perfil" class="jumbotron" style="margin-top:50px">
    <h1 class="display-3 text-center">Bem vindo @Model.Usuario.Nome!</h1>
    <br />
    <h3 class="text-center">O que você deseja fazer no sistema?</h3>
    <hr class="my-4">
    <p class="lead text-center">
        <a class="btn btn-primary text-center" href="#" role="button" onclick="exibirCadastroPrestador()">Me cadastrar como prestador de serviço</a>
        <a class="btn btn-outline-warning text-center" asp-controller="Home" asp-action="Index" role="button">Buscar por prestadores de Serviço</a>
    </p>
</div>

<div id="cadastro-prestador" style="display:none">
    <h4 style="margin-top:30px">Cadastrar perfil prestador de serviço</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="TipoPerfil">
                <div class="form-group">
                    <label class="control-label">Categoria de serviço</label>
                    <select class="form-control" asp-for="CategoriaSelecionada">
                        @foreach (var item in Model.Categorias)
                        {
                            <option value="@item.IdCategoria">@item.Nome</option>
                        }

                    </select>
                </div>
                <input asp-for="IdUsuario" class="form-control d-none" value="@Model.IdUsuario" />
                <div class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Cnpj" class="control-label"></label>
                    <input asp-for="Cnpj" class="form-control" />
                    <span asp-validation-for="Cnpj" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Especializacao" class="control-label"></label>
                    <textarea asp-for="Especializacao" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Especializacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Cadastrar" />
                </div>
            </form>
        </div>
    </div>
</div>


<script>

    function exibirCadastroPrestador() {
        $('#selecionar-perfil').hide();
        $('#cadastro-prestador').show();
        document.getElementById('cadastro-prestador').style.display = 'Block';

    }
</script>