@model OpenServices.Entities.Usuario

@{
    ViewData["Title"] = "ConfirmarPrestador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="float:right"> @Model.Email | <a asp-controller="Autenticacao" asp-action="Login">sair</a> </span>
<br />
<br />
<h2 class="text-center">Deseja confirmar o seguinte prestador de serviço</h2>
<br />
<br />
<br />

<div class="card" style="width:25rem;">
    <div class="card-body">
        <h5><a asp-action="DadosPrestador" asp-controller="PrestadorServico" asp-route-id="7" class="card-title">Matheus moreira</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">Hidráulica</h6>
        <p class="card-text">trabalha com serviços de hidraulica</p>
        <h6 class="card-subtitle mb-2 text-muted">Nota usuário: 9</h6>

        <a class="btn btn-info btn-block" asp-action="Chat">Enviar mensagem </a>
        <br />

        <div id="buttons">

            <button class="btn btn-danger btn-block" onclick="Cancelar()"> Cancelar </button>
        </div>

        <br />
        <div>
            <a class="btn btn-primary btn-block" asp-action="Avaliar">Finalizar e avaliar</a>
        </div>

        <div id="txt" class="hide" style="display:none">
            <h5 class="text-danger text-center">Cancelado</h5>
        </div>
    </div>
</div>

<script>

    $('#txt').hide()
    function Cancelar() {
        $.ajax({
            url: "http://localhost:54777/servico/cancelar",
            success: function (resp) {
                $('#buttons').hide()
                $('#txt').show();
            }
        })
    };


</script>