@model OpenServices.Entities.Usuario

@{
    ViewData["Title"] = "ConfirmarPrestador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="float:right"> @Model.Email | <a asp-controller="Autenticacao" asp-action="Login">sair</a> </span>
<br />
<br />
<h2 class="text-center">Deseja confirmar o seguinte prestador de serviço</h2>
<br />
<br />
<br />

<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title">Matheus moreira</h5>
        <h6 class="card-subtitle mb-2 text-muted">Hidráulica</h6>
        <p class="card-text">trabalha com serviços de hidraulica</p>
        <h6 class="card-subtitle mb-2 text-muted">Nota usuário: 9</h6>

        <button class="btn btn-info btn-block"> Enviar mensagem </button>
        <br />
        <br />

        <div id="buttons">
            <button class="btn btn-success" onclick="salvarAceitacao()"> Aceitar </button>
            <button class="btn btn-danger"> Recusar </button>
        </div>

        <div id="txt" class="hide" style="display:none">
            <h5 class="text-success">Prestador confirmado</h5>
        </div>

    </div>
</div>

<script>

    $('#txt').hide()
    function salvarAceitacao() {
        $('#buttons').hide()
        $('#txt').show()
    }

</script>